:root {
  --font-sans-serif: Montserrat, sans-serif;
  --argyle: Poppins, sans-serif;
  --black: #000;
  --white: rgb(255, 255, 255);
  --blue: rgb(76, 124, 218);
  --gray: rgb(131, 131, 131);
  --purple: rgb(105, 75, 165);
  --cyan: rgb(78, 164, 208);
  --orange: rgb(236, 111, 24);
  --green: rgb(64, 172, 116);
  --olive: rgb(132, 164, 32);
  --lightpurple: rgb(183, 156, 239);
  --lightblue: rgb(186, 230, 238);
  --lightorange: rgb(254, 216, 138);
  --lightgreen: rgb(182, 230, 184);
  --lightolive: rgb(223, 231,141);
  --bluishdarkgrey: rgb(76, 79, 86);
  --bluishgrey: rgb(196, 210, 220);
  --lightgrey: rgb(217, 217, 217);
  --bluishlightgrey: rgb(239, 241, 245);
  --extralightgrey: rgb(244, 244, 244);
  --red: rgb(231, 40, 66);
  --lightred: rgb(254, 164, 138);
}

html {
    box-sizing: border-box;
}
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}

.site__container {
  max-width: 900px;
  margin: auto;
}

img {
  display: block;
}

body {
  font-family: var(--font-sans-serif);

}

h4 {
  font-size: 16px;
  font-weight: 500;
  /* padding-left: 20px; */
}

.site__name1 {
font-family: poppins;
font-weight: 400;
font-size: 33px;
padding-left: 10px;
}

.site__name2 {
color: var(--blue);
font-weight: 300;
font-size: 26px;
padding-left: 10px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navbar__list {
list-style: none;
text-decoration: none;
display: flex;
padding: 0;
}

.navbar__list li {
  font-size: 15px;
  padding: 10px;
}

.navbar__current {
color:var(--argyle);
}

.asidenavbor__menutitle {
font-size: 15px;
font-weight: 400;
padding-left: 10px;
}

.asidenavbar__list {
  font-size: 15px;
  text-decoration: none;
  list-style: none;
  padding-left: 35px;

}

.asidenavbar__list li {
  padding-left: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
}

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: var(--black);
}

/* visited link */
a:visited {
  color: var(--black);
}

/* mouse over link */
a:hover {
  color: var(--blue);
}

/* selected link */
a:active {
  color: var(--blue);
}

.cover__headline {
  font-weight: 300;
  font-size: 30px;
  line-height: 1.3;
  color: var(--blue);
  padding-left: 10px;
  padding-right: 8rem;
  margin-bottom: 4rem;
}

.section__headline {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: var(--gray);
}

.cover__title {
  font-size: 60px;
  font-weight: 600;
  padding-left: 20px;
  }

.cover__image {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}

.section__title {
  font-size: 45px;
  font-weight: 600;
}

.sectionone {
  display:inline-block;
}

.sectionone__image {
  width: 75%;
  max-width: 600px;
}

.card__title {
  font-size: 28px;
  font-weight: 500;
  padding-left: 20px;
}

.colorcardcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 600px;
}

.primarycolorcard {
width: 175px;
height: 300px;
background-color: #4c7cda;
margin: 10px;
box-sizing: border-box;
}
.primarycolorcard__black {
  width: 175px;
  height: 300px;
  background-color: #000000;
  box-sizing: border-box;
  margin: 10px;
  }



.primarycolorcard__title {
font-size: 12px;
font-weight: 500;
color: var(--white);
padding: 15px;
margin: 0px;
}

.primarycolorcard__rgb {
  padding: 15px 0px;
  font-size: 10px;
  padding-left: 15px;
  margin-top: 175px;
  
  }
  .primarycolorcard__rgb--title {
    font-family: Montserrat;
    color: var(--lightgrey);
    padding-right: 10px;
  }
  
  .primarycolorcard__rgb--numbers {
    font-weight: 400;
    color: var(--white);
    word-spacing: 5px;
  }
  .primarycolorcard__hex {
    padding-bottom: 15px;
    font-size: 10px;
    }
  .primarycolorcard__hex--title {
    font-family: Montserrat;
    color: var(--lightgrey);
    padding-right: 12px;
    padding-left: 15px;

  }
  
  .primarycolorcard__hex--numbers {
    font-weight: 400;
    color: var(--white);
  }

  .primarycolorcard__white {
    width: 175px;
    height: 300px;
    background-color: #ffffff;
    border: 1px solid var(--lightgrey);
    box-sizing: border-box;
    margin: 10px;
  }

    .primarycolorcard__title--white {
      color: var(--black);
      font-size: 12px;
      font-weight: 500;
      padding: 15px;
      margin: 0px;
    }

    .primarycolorcard__rgb--titlewhite {
      font-family: Montserrat;
      color: var(--gray);
      padding-right: 10px;
    }
    
    .primarycolorcard__rgb--numberswhite {
      font-weight: 400;
      color: var(--black);
      word-spacing: 5px;
    }
    .primarycolorcard__hexwhite {
      padding-bottom: 15px;
      font-size: 10px;
      }
    .primarycolorcard__hex--titlewhite {
      font-family: Montserrat;
      color: var(--gray);
      padding-right: 12px;
      padding-left: 15px;
  
    }
    
    .primarycolorcard__hex--numberswhite {
      font-weight: 400;
      color: var(--black);
    }

.secondarycolorcard__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px,1fr));
  justify-items: center;
  grid-gap: 10px;
  margin: 5px;
  }

.colorcard {
  width: 110 px;
  box-sizing: border-box;
}

.colorcard__title {
  color: var(--black);
  font-size: 10px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 15px;
}
.colorcard__dot {
  height: 50px;
  width: 50px;
  background-color: var(--purple);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--cyan{
  height: 50px;
  width: 50px;
  background-color: var(--cyan);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--orange{
  height: 50px;
  width: 50px;
  background-color: var(--orange);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--green{
  height: 50px;
  width: 50px;
  background-color: var(--green);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--olive{
  height: 50px;
  width: 50px;
  background-color: var(--olive);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--lightpurple {
  height: 50px;
  width: 50px;
  background-color: var(--lightpurple);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--lightblue {
  height: 50px;
  width: 50px;
  background-color: var(--lightblue);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--lightorange {
  height: 50px;
  width: 50px;
  background-color: var(--lightorange);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--lightgreen {
  height: 50px;
  width: 50px;
  background-color: var(--lightgreen);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--lightolive {
  height: 50px;
  width: 50px;
  background-color: var(--lightolive);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--bdg {
  height: 50px;
  width: 50px;
  background-color: var(--bluishdarkgrey);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--bluishgrey {
  height: 50px;
  width: 50px;
  background-color: var(--bluishgrey);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--lightgrey {
  height: 50px;
  width: 50px;
  background-color: var(--lightgrey);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--blg {
  height: 50px;
  width: 50px;
  background-color: var(--bluishlightgrey);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--elg {
  height: 50px;
  width: 50px;
  background-color: var(--extralightgrey);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--red {
  height: 50px;
  width: 50px;
  background-color: var(--red);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--lightred {
  height: 50px;
  width: 50px;
  background-color: var(--lightred);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__rgb {
padding: 15px 0px;
font-size: 10px;

}
.colorcard__rgb--title {
  font-family: Montserrat;
  color: var(--gray);
  padding-right: 10px;
}

.colorcard__rgb--numbers {
  font-weight: 400;
  word-spacing: 5px;
}
.colorcard__hex {
  padding-bottom: 15px;
  font-size: 10px;
  }
.colorcard__hex--title {
  font-family: Montserrat;
  color: var(--gray);
  padding-right: 12px;
}

.colorcard__hex--numbers {
  font-weight: 400;
}

.usagebalance__container {
max-width: 700px;
display: flex;
flex-wrap: wrap;
}

.usagebalance__content {
  flex: 1;
}

.sectionthree {
  flex: 1;
  min-width: 350px;
}

.sectionthree__image {
  width: 100%;
  min-height: 350px;
}