/* page structure */

:root {
  --font-sans-serif: Montserrat, sans-serif;
  --argyle: Poppins, sans-serif;
  --black: #000;
  --white: rgb(255, 255, 255);
  --blue: rgb(76, 124, 218);
  --gray: rgb(131, 131, 131);
  --purple: rgb(105, 75, 165);
  --cyan: rgb(78, 164, 208);
  --orange: rgb(236, 111, 24);
  --green: rgb(64, 172, 116);
  --olive: rgb(132, 164, 32);
  --lightpurple: rgb(183, 156, 239);
  --lightblue: rgb(186, 230, 238);
  --lightorange: rgb(254, 216, 138);
  --lightgreen: rgb(182, 230, 184);
  --lightolive: rgb(223, 231,141);
  --bluishdarkgrey: rgb(76, 79, 86);
  --bluishgrey: rgb(196, 210, 220);
  --lightgrey: rgb(217, 217, 217);
  --bluishlightgrey: rgb(238, 241, 245);
  --extralightgrey: rgb(244, 244, 244);
  --red: rgb(231, 40, 66);
  --lightred: rgb(254, 164, 138);
}

html {
    box-sizing: border-box;
}
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}

img {
  display: block;
}

body {
  font-family: var(--font-sans-serif);

}

/* defined headings */
h4 {
  font-size: 16px;
  font-weight: 500;
}

/* links */
a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: var(--black);
}

/* visited link */
a:visited {
  color: var(--black);
}

/* mouse over link */
a:hover {
  color: var(--blue);
}

/* selected link */
a:active {
  color: var(--blue);
}

/* site grid and page containers */
.site__container {
  max-width: 1200px;
  margin: auto;
}

.main-content{
  grid-column: 2;
 }

.Aside-content__container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 75px
  }
  
.asidenavbar {
  grid-row-end: span 2;
  }

/* header - site name and site navbar */
.header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.site__name1 {
  font-family: poppins;
  font-weight: 400;
  font-size: 33px;
  padding-left: 10px;
}

.site__name2 {
  color: var(--blue);
  font-weight: 300;
  font-size: 26px;
  padding-left: 10px;
  margin-right: 20px;
}

.page-header__color {
  border-bottom: 20px solid var(--blue);
}

.page-header{
  max-width: 1200px;
  text-align: center;
  margin: auto;
  padding: 20px;
}

.pagenav {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 200px;
}

.navbar__list {
  list-style: none;
  text-decoration: none;
  display: flex;
  padding: 0;
}

.navbar__list li {
  font-size: 15px;
  padding: 10px;
}

.navbar__current {
  color: var(--blue);
}

/* aside navbar */
.asidenavbor__menutitle {
  font-size: 15px;
  font-weight: 400;
  padding-left: 10px;
  margin-top: 60px;
}

.asidenavbar__list {
  font-size: 15px;
  text-decoration: none;
  list-style: none;
  padding-left: 35px;

}

.asidenavbar__list li {
  padding-left: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
}

/* cover section */
.cover__title {
  font-size: 60px;
  font-weight: 600;
  margin-left: 33%;
}

.cover__image {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}
.cover__headline {
  font-weight: 300;
  font-size: 30px;
  line-height: 1.3;
  color: var(--blue);
  padding-left: 10px;
  margin-left: 33%;
  margin-bottom: 4rem;
}

/* section 1,2,3,4,5 uniform components */
.sectionone, .sectiontwo, .sectionthree, .sectionfour, .sectionfive {
  display:inline-block;
  margin-left: 33%;
}

.section__title {
  font-size: 45px;
  font-weight: 600;
}

.section__headline {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray);
}

/* section one specific components */
.sectionone__image {
  width: 75%;
  max-width: 600px;
}

/* section one card */
.card__title {
  font-size: 28px;
  font-weight: 500;
  padding-left: 20px;
}

.colorcardcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 900px;
}

.primarycolorcard {
  width: 275px;
  height: 450px;
  background-color: #4c7cda;
  margin: 10px;
  box-sizing: border-box;
}

.primarycolorcard__black {
  width: 275px;
  height: 450px;
  background-color: #000000;
  box-sizing: border-box;
  margin: 10px;
}

.primarycolorcard__title {
  font-size: 12px;
  font-weight: 500;
  color: var(--white);
  padding: 15px;
  margin: 0px;
}

.primarycolorcard__rgb {
  padding: 15px 0px;
  font-size: 10px;
  padding-left: 15px;
  margin-top: 175px;
}

.primarycolorcard__rgb--title {
  font-family: Montserrat;
  color: var(--lightgrey);
  padding-right: 10px;
}
  
.primarycolorcard__rgb--numbers {
  font-weight: 400;
  color: var(--white);
  word-spacing: 5px;
}

.primarycolorcard__hex {
  padding-bottom: 15px;
  font-size: 10px;
  }

.primarycolorcard__hex--title {
  font-family: Montserrat;
  color: var(--lightgrey);
  padding-right: 12px;
  padding-left: 15px;
}
  
.primarycolorcard__hex--numbers {
  font-weight: 400;
  color: var(--white);
}

.primarycolorcard__white {
  width: 275px;
  height: 450px;
  background-color: #ffffff;
  border: 1px solid var(--lightgrey);
  box-sizing: border-box;
  margin: 10px;
}

.primarycolorcard__title--white {
  color: var(--black);
  font-size: 12px;
  font-weight: 500;
  padding: 15px;
  margin: 0px;
}

.primarycolorcard__rgb--titlewhite {
  font-family: Montserrat;
  color: var(--gray);
  padding-right: 10px;
}
    
.primarycolorcard__rgb--numberswhite {
  font-weight: 400;
  color: var(--black);
  word-spacing: 5px;
}

.primarycolorcard__hexwhite {
  padding-bottom: 15px;
  font-size: 10px;
}

.primarycolorcard__hex--titlewhite {
  font-family: Montserrat;
  color: var(--gray);
  padding-right: 12px;
  padding-left: 15px;
}
    
.primarycolorcard__hex--numberswhite {
  font-weight: 400;
  color: var(--black);
}

.secondarycolorcard__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px,1fr));
  justify-items:left;
  grid-gap: 10px;
  margin: 5px;
}

/* section two card */
.colorcard {
  width: 110 px;
  box-sizing: border-box;
}

.colorcard__title {
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 15px;
}

.colorcard__dot {
  height: 75px;
  width: 75px;
  background-color: var(--purple);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--cyan{
  height: 75px;
  width: 75px;
  background-color: var(--cyan);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--orange{
  height: 75px;
  width: 75px;
  background-color: var(--orange);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--green{
  height: 75px;
  width: 75px;
  background-color: var(--green);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--olive{
  height: 75px;
  width: 75px;
  background-color: var(--olive);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--lightpurple {
  height: 75px;
  width: 75px;
  background-color: var(--lightpurple);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--lightblue {
  height: 75px;
  width: 75px;
  background-color: var(--lightblue);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--lightorange {
  height: 75px;
  width: 75px;
  background-color: var(--lightorange);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--lightgreen {
  height: 75px;
  width: 75px;
  background-color: var(--lightgreen);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--lightolive {
  height: 75px;
  width: 75px;
  background-color: var(--lightolive);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--bdg {
  height: 75px;
  width: 75px;
  background-color: var(--bluishdarkgrey);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--bluishgrey {
  height: 75px;
  width: 75px;
  background-color: var(--bluishgrey);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--lightgrey {
  height: 75px;
  width: 75px;
  background-color: var(--lightgrey);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--blg {
  height: 75px;
  width: 75px;
  background-color: var(--bluishlightgrey);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--elg {
  height: 75px;
  width: 75px;
  background-color: var(--extralightgrey);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--red {
  height: 75px;
  width: 75px;
  background-color: var(--red);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__dot--lightred {
  height: 75px;
  width: 75px;
  background-color: var(--lightred);
  border-radius: 50%;
  display: inline-block;
}

.colorcard__rgb {
  padding: 15px 0px;
  font-size: 10px;
}

.colorcard__rgb--title {
  font-family: Montserrat;
  color: var(--gray);
  padding-right: 10px;
}

.colorcard__rgb--numbers {
  font-weight: 400;
  word-spacing: 5px;
}

.colorcard__hex {
  padding-bottom: 15px;
  font-size: 10px;
}

.colorcard__hex--title {
  font-family: Montserrat;
  color: var(--gray);
  padding-right: 12px;
}

.colorcard__hex--numbers {
  font-weight: 400;
}

/* section three specific components */
.usagebalance__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.usagebalance__content {
  flex: 0;
  min-width: 250px;
}

.usagebalance__image {
  flex: 1;
  min-width: 350px;
}

.usagebalance__image1 {
  max-width:100%
}

/* section four specific components */
.sectionfourflex {
  max-width: 500px;
  display: flex;
  justify-content: space-between;
}

.sectionfour__100 {
  font-size: 60px;
  margin: 0px;
}

.sectionfour__80 {
  font-size: 60px;
  color: rgb(0, 0, 0, .8);
  margin: 0px;
}

.sectionfour__40 {
  font-size: 60px;
  color: rgb(0, 0, 0, .4);
  margin: 0px;
}

.sectionfourflex__headline {
  color: var(--gray);
  font-size: 12px;
  margin-top: 5px;
}

.sectionfour__image {
  max-width:100%
}

.blue {
  color: var(--blue);
}

.lightpurple {
  color: var(--lightpurple);
}

.ruler__headline16 {
  color: var(--gray);
  border-top: 1px solid rgb(0, 0, 0, .16);
  font-size: 12px;
  padding-top: 8px;
  margin-top: 5px;
}

  .ruler__headline8 {
  color: var(--gray);
  border-top: 1px solid rgb(0, 0, 0, .1);
  font-size: 12px;
  padding-top: 8px;
  margin-top: 5px;
}

/* section five specific components */
.ru__container {
  max-width: 900px;
}

.ru__smallimage {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
}

.image1 {
  flex: 1;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 440px;
  min-width: 400px;
}
.image2{
  flex: 1;
  max-width: 440px;
  min-width: 400px;
  margin-bottom: 20px;
}

.largeimage1 {
  margin-top: 20px;
  margin-bottom: 40px;
  border: 1px solid var(--extralightgrey);
  width: 100%;
  height: auto;
}

/* footer  */
.footercolor {
  background-color: var(--black);
}

.footercontainer {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.footer__image1 {
  max-width: 100%;
}

.footer__image {
  flex: 1;
  max-width: 300px;
  min-width: 100px;
  margin-bottom: 20px;
}

.footer__content {
  flex: 1;
  max-width: 400px;
  margin-right: 100px;
}

.section__title1 {
  flex: 1;
  font-size: 30px;
  font-weight: 600;
  color: var(--white);
}

.footer__button {
  display: block;
  text-align: center;
  width: 120px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--blue);
  padding: 20px;
}

