<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
        <title>Components | argyle styleguide</title>
    </head>

    <body>
        <h1>Web components</h1>
        <h2>Typography Defaults</h2>
        
        <article class="component">
            <h3 class="component__name">Page Title</h3>
            <img 
            srcset="../components/img/argyleStyleguideImages/Header/Header_sitename.png 2x"
            src="../components/img/argyleStyleguideImages/Header/Header_sitename.png">
        <div class="component_code">
            <h1><span class="site__name1">argyle</span><span class="site__name2">Styleguide</span></h1>
        </div>
        </article>

        <article class="component">
            <h3 class="component__name">Nav Bar</h3>
            <img 
            srcset="../components/img/argyleStyleguideImages/Header/navbar_list.png 2x""
            src="../components/img/argyleStyleguideImages/Header/navbar_list.pngf">
        <div class="navbar">
            <ul class="navbar__list">
                <li><a href="https://argyle.design/typeface/">Introduction</a></li>
                <li><a href="https://argyle.design/logo/">Logotype</a></li>
                <li class="navbar__list--active"><a href="https://argyle.design/colors/">Colors</a></li>
                <li><a href="https://argyle.design/typeface/">Typeface</a></li>
            </Ul>
        </div>
        </article>

        <article class="component">
            <h3 class="component__name">Aside Nav Bar</h3>
            <img
            srcset="img/argyleStyleguideImages/aside/asidenav.png 2x"
            src="img/argyleStyleguideImages/aside/asidenav.png">
        <div class="asidenavbar">
            <h2 class="asidenavbor__menutitle">Colors</h2>
            <ul class="asidenavbar__list">
                <li><a href="#!">Primary Pallete</a></li>
                <li><a href="#!">Secondary colors</a></li>
                <li><a href="#!">Usage balance</a></li>
                <li><a href="#!">Shades and blend modes</a></li>
                <li><a href="#!">Recommended use</a></li>
            </Ul>
        </div>
        </article>

        <article class="component">
            <h3 class="component__name">Cover Headline</h3>
            <img 
            srcset="../components/img/argyleStyleguideImages/cover/cover__headline@2x.png 2x";
            src="../components/img/argyleStyleguideImages/cover/cover__headline@2x.png" alt="covercontent">
        <div class="component_code">
            <p class="cover__headline">The brand colors make our company representation interesting, vivid, and unique.</p>
        </div>
        </article>
        
        <article class="component">
            <h3 class="component__name">Section Headline</h3>
            <img 
            src="../components/img/argyleStyleguideImages/Section two/section__heading.png" alt="covercontent">
        <div class="component_code">
            <p class="section__headline">Secondary colors bring contrast and difference to our primary palette. They are used to highlight small but important items in the UI or make our marketing materials pop. </p>
        </div>
        </article>


        <article class="component">
            <h3 class="component__name">cover title</h3>
            <img 
            srcset="img/argyleStyleguideImages/cover/cover__title.png 2x"
            src="img/argyleStyleguideImages/cover/cover__title.png">
        <div class="component">
            <h2 class="cover__title">Colors</p>
        </div>
        </article>

        <article class="component">
            <h3 class="component__name">section titles</h3>
            <img 
            srcset="img/argyleStyleguideImages/Section two/section__title.png"
            src="img/argyleStyleguideImages/Section two/section__title.png">
        <div class="component">
            <h2 class="section__title">Secondary colors</p>
        </div>
        </article>

        <article class="component">
            <h3 class="component__name">Card titles</h3>
            <img 
            srcset="img/argyleStyleguideImages/Section two/section__title.png"
            src="img/argyleStyleguideImages/Section two/sectiontwocard__title.png">
        <div class="component">
            <h2 class="card__title">Purple</p>
        </div>
        </article>

        <article class="component">
            <h3 class="component__name">Primary color card</h3>
            <img 
            srcset="../components/img/argyleStyleguideImages/Section one/sectionone__card@2x.png 2x"
            src="../components/img/argyleStyleguideImages/Section one/sectionone__card@2x.png">
        <div class="component">
            <div class="primarycolorcard">
            <h2 class="primarycolorcard__title">Argyle blue</h2>
            <div class="primarycolorcard__rgb"><span class="primarycolorcard__rgb--title">RGB</span><span class="primarycolorcard__rgb--numbers">105  75  165</span></div>
            <div class="primarycolorcard__hex"><span class="primarycolorcard__hex--title">HEX</span><span class="primarycolorcard__hex--numbers">694BA5</span></div>
            </div>
        </div>
        </article>

        <article class="component">
            <h3 class="component__name">Secondary color card</h3>
            <img 
            srcset="img/argyleStyleguideImages/Section two/sectiontwocard.png"
            src="img/argyleStyleguideImages/Section two/sectiontwocard.png">
        <div class="component">
            <div class="colorcard">
            <h2 class="colorcard__title">Purple</h2>
            <span class="colorcard__dot"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">105  75  165</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">694BA5</span></div>
            </div>
        </div>
        </article>
    </body>
</html>