<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
        <title>Components | argyle styleguide</title>
    </head>

    <body>
    <div class="site__container"
        <h1>Web components</h1>
        <h2>Header/Nav Components</h2>
        
        <article class="component">
            <h3 class="component__name">Page Title</h3>
            <img 
            srcset="../components/img/argyleStyleguideImages/Header/Header_sitename.png 2x"
            src="../components/img/argyleStyleguideImages/Header/Header_sitename.png">
        <div class="component_code">
            <h1><span class="site__name1">argyle</span><span class="site__name2">Styleguide</span></h1>
        </div>
        </article>

        <article class="component">
            <h3 class="component__name">Nav Bar</h3>
            <img 
            srcset="../components/img/argyleStyleguideImages/Header/navbar_list.png 2x""
            src="../components/img/argyleStyleguideImages/Header/navbar_list.pngf">
        <div class="navbar">
            <ul class="navbar__list">
                <li><a href="https://argyle.design/typeface/">Introduction</a></li>
                <li><a href="https://argyle.design/logo/">Logotype</a></li>
                <li class="navbar__current"><a href="https://argyle.design/colors/">Colors</a></li>
                <li><a href="https://argyle.design/typeface/">Typeface</a></li>
            </Ul>
        </div>
        </article>

        <article class="component">
            <h3 class="component__name">Aside Nav Bar</h3>
            <img
            srcset="img/argyleStyleguideImages/aside/asidenav.png 2x"
            src="img/argyleStyleguideImages/aside/asidenav.png">
        <div class="asidenavbar">
            <h2 class="asidenavbor__menutitle">Colors</h2>
            <ul class="asidenavbar__list">
                <li><a href="#!">Primary Pallete</a></li>
                <li><a href="#!">Secondary colors</a></li>
                <li><a href="#!">Usage balance</a></li>
                <li><a href="#!">Shades and blend modes</a></li>
                <li><a href="#!">Recommended use</a></li>
            </Ul>
        </div>
        </article>

        <h2>Cover Section</h2>
        <article class="component">
            <h3 class="component__name">cover title</h3>
            <img 
            srcset="img/argyleStyleguideImages/cover/cover__title.png 2x"
            src="img/argyleStyleguideImages/cover/cover__title.png">
        <div class="component">
            <h2 class="cover__title">Colors</p>
        </div>
        </article>

        <article class="component">
            <h3 class="component__name">Cover Headline</h3>
            <img 
            srcset="../components/img/argyleStyleguideImages/cover/cover__headline@2x.png 2x";
            src="../components/img/argyleStyleguideImages/cover/cover__headline@2x.png" alt="covercontent">
        <div class="component_code">
            <p class="cover__headline">The brand colors make our company representation interesting, vivid, and unique.</p>
        </div>
        </article>

        <article class="component">
            <h3 class="component__name">Cover Image</h3>
            <img 
            srcset="../components/img/argyleStyleguideImages/cover/cover__image.png 2x"
          src="../components/img/argyleStyleguideImages/cover/cover__image.png">
        <div class="component_code">
            <img class="cover__image"
            srcset="../components/img/argyleStyleguideImages/cover/cover__image.png 2x"
          src="../components/img/argyleStyleguideImages/cover/cover__image.png">
        </div>
        </article>
        
        <h2>Section One</h2>
 

        <article class="component">
            <div class="sectionone">
            <img class="sectionone__image"
            src="../components/img/argyleStyleguideImages/Section one/sectionone__title@2x.png"
            alt="Section one image">
            </div>
        <div class="component">
            <h2 class="section__title">Primary pallette</p>
        </div>
        </article>

        <article class="component">
            <div class="sectionone">
            <img 
            class="sectionone__image"
            src="../components/img/argyleStyleguideImages/Section one/sectionone__heading.png" alt="covercontent">
            </div>
        <div class="component_code">
            <p class="section__headline">The primary colors are Argyle Blue, black, and white.
            </p>
        </div>

        <article class="component">
            <h3 class="component__name">Primary color card</h3>
            <img 
            srcset="../components/img/argyleStyleguideImages/Section one/sectionone__card@2x.png 2x"
            src="../components/img/argyleStyleguideImages/Section one/sectionone__card@2x.png">
        <div class="colorcardcontainer">
            <div class="primarycolorcard">
                <h2 class="primarycolorcard__title">Argyle blue</h2>
                <div class="primarycolorcard__rgb"><span class="primarycolorcard__rgb--title">RGB</span><span class="primarycolorcard__rgb--numbers">105  75  165</span></div>
                <div class="primarycolorcard__hex"><span class="primarycolorcard__hex--title">HEX</span><span class="primarycolorcard__hex--numbers">694BA5</span></div>
            </div>
            <div class="component">
                <div class="primarycolorcard__black">
                <h2 class="primarycolorcard__title">Pure Black</h2>
                <div class="primarycolorcard__rgb"><span class="primarycolorcard__rgb--title">RGB</span><span class="primarycolorcard__rgb--numbers">0  0  0</span></div>
                <div class="primarycolorcard__hex"><span class="primarycolorcard__hex--title">HEX</span><span class="primarycolorcard__hex--numbers">000000</span></div>
                </div>
        </div>
        <div class="component">
            <div class="primarycolorcard__white">
            <h2 class="primarycolorcard__title--white">Pure White</h2>
            <div class="primarycolorcard__rgb"><span class="primarycolorcard__rgb--titlewhite">RGB</span><span class="primarycolorcard__rgb--numberswhite">0  0  0</span></div>
            <div class="primarycolorcard__hexwhite"><span class="primarycolorcard__hex--titlewhite">HEX</span><span class="primarycolorcard__hex--numberswhite">000000</span></div>
            </div>
    </div> <!--colorcardcontainer-->
        </article>

        <article class="component">
            <div class="sectionone">
            <img 
            class="sectionone__image"
            src="../components/img/argyleStyleguideImages/Section one/sectionone__content.png" alt="covercontent">
            </div>
        <div class="component_code">
            <p class="section__headline">When printing, consult your printing service provider for the best possible match. For black and white, consider the maximum achievable color purity and contrast.
            </p>
        </div>

        <h2>Section two</h2>
        <h3 class="component__name">Secondary Color Title</h3>
        <article class="component">
            <img 
            srcset="img/argyleStyleguideImages/Section two/section__title.png"
            src="img/argyleStyleguideImages/Section two/section__title.png">
        <div class="component">
            <h2 class="section__title">Secondary colors</p>
        </div>
        </article>

        <article class="component">
            <h3 class="component__name">Secondary Headline</h3>
            <div class="sectionone">
            <img class="sectionone__image"
            src="../components/img/argyleStyleguideImages/Section two/section__heading.png" alt="covercontent">
            </div>
        <div class="component_code">
            <p class="section__headline">Secondary colors bring contrast and difference to our primary palette. They are used to highlight small but important items in the UI or make our marketing materials pop. </p>
        </div>
        </article>

        <article class="component">
            <h3 class="component__name">Secondary color card</h3>
            <div class="sectionone">
            <img class="sectionone__image"
            srcset="img/argyleStyleguideImages/Section two/sectiontwocard.png"
            src="img/argyleStyleguideImages/Section two/sectiontwocard.png">
            </div>
        
    <div class="secondarycolorcard__grid">
        <div class="colorcard">
            <h2 class="colorcard__title">Purple</h2>
            <span class="colorcard__dot"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">105  75  165</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">694BA5</span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Cyan</h2>
            <span class="colorcard__dot--cyan"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">78  164  208</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">4EA4D0</span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Orange</h2>
            <span class="colorcard__dot--orange"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">236  111  24</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">EC6F18</span></div>
        </div>
            
        <div class="colorcard">
            <h2 class="colorcard__title">Green</h2>
            <span class="colorcard__dot--green"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">64  172  116</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">40AC74</span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Olive</h2>
            <span class="colorcard__dot--olive"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">132  164  32</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">84A420</span></div>
        </div>
            
        <div class="colorcard">
            <h2 class="colorcard__title">Light Purple</h2>
            <span class="colorcard__dot--lightpurple"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">183  156  239</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">B79CEF</span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Light Blue</h2>
            <span class="colorcard__dot--lightblue"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">186  230  240</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">BAE6F0</span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Light Orange</h2>
            <span class="colorcard__dot--lightorange"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">254  216  138</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">FED88A</span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Light Green</h2>
            <span class="colorcard__dot--lightgreen"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">182  230  184</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">B6E6B8
            </span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Light Olive</h2>
            <span class="colorcard__dot--lightolive"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">223 231 141</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">DFE795</span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Light Bluish dark grey</h2>
            <span class="colorcard__dot--bdg"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">76 79 86</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">DFE795</span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Bluish grey</h2>
            <span class="colorcard__dot--bluishgrey"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">196 210 220</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">C4D2DC</span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Light grey</h2>
            <span class="colorcard__dot--lightgrey"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">217 217 217</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">D9D9D9</span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Bluish light grey</h2>
            <span class="colorcard__dot--blg"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">239 241 245</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">EFF1F5</span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Extra light grey</h2>
            <span class="colorcard__dot--elg"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">244 244 244</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">F4F4F4</span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Red</h2>
            <span class="colorcard__dot--red"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">231 40 66</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">E72842</span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Light red</h2>
            <span class="colorcard__dot--lightred"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">254 164 138</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">FEA48A</span></div>
        </div>

    </div>
     
        </article>

        <h2>Section Three</h2>
        <article class="component">
            <div class="sectionone">
            <img class="sectionone__image"
            src="../components/img/argyleStyleguideImages/Section three/section__title.png">
        </div>
        <div class="component">
            <h2 class="section__title">Usage balance</p>
        </div>
        </article>
        <article class="component">
            <div class="sectionone">
            <img 
            class="sectionone__image"
            src="../components/img/argyleStyleguideImages/Section three/section__heading.png" alt="covercontent">
            </div>
        <div class="component_code">
            <p class="section__headline">Argyle’s materials should give an overall impression of consistent use of color. The following examples give a general idea of the appropriate color balance:
            </p>
        </div>

        <div class="usagebalance__container">
            <div class="usagebalance__content">
                <h4>Content</h4>
                <p class="section__headline">White and light backgrounds should be the basis, while Argyle Blue serves as a logical and functional accent (links, buttons, key text).</p>
                <p class="section__headline">Typesetting should give the impression of a uniform texture with some pure black accents (headings).</p>
                <p class="section__headline">The secondary set of colors provides additional nuances, for example, with iconography or tags.</p>
            </div>
            <div class="sectionthree">
            <img class="sectionthree__image" src="../components/img/argyleStyleguideImages/Section three/sectionthreecard__image.png">
        </div>
        </div>
    </div>
    </body>
</html>