<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/main.css">
        <link href="../css/normalize.css" rel="stylesheet">        
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Components | argyle styleguide</title>
    </head>

    <body>
    <div class="page-header__color">
        <div class="page-header">
        <h1>Argyle Design Web Design System</h1>
        <h2>Web components</h2>
            <p>Select one of the seven sections of the Argyle Website to see all the molecules, atoms, and organisms ready to be assembled</p>
        <ul class="pagenav">
            <li><a href="#header-nav">Header/Nav</a></li>
            <li><a href="#cover-section">Cover Section</a></li>
            <li><a href="#section-one">Section One</a></li>
            <li><a href="#section-two">Section Two</a></li>
            <li><a href="#section-three">Section Three</a></li>
            <li><a href="#section-four">Section Four</a></li>
            <li><a href="#section-five">Section Five</a></li>
            <li><a href="#footer">Footer</a></li>
        </ul>
    </div>
</div>
    <div class="site__container">
        <h2 id="header-nav">Header/Nav Components</h2>
        <article class="component">
            <h3 class="component__name">Page Title</h3>
            <img 
            srcset="../components/img/argyleStyleguideImages/Header/Header_sitename.png 2x"
            src="../components/img/argyleStyleguideImages/Header/Header_sitename.png"
            alt="page title">
        <div class="component_code">
            <h1><span class="site__name1">argyle</span><span class="site__name2">Styleguide</span></h1>
        </div>
        </article>

        <article class="component">
            <h3 class="component__name">Nav Bar</h3>
            <img 
            srcset="../components/img/argyleStyleguideImages/Header/navbar_list.png 2x"
            src="../components/img/argyleStyleguideImages/Header/navbar_list.pngf"
            alt="Nav Bar">
        <div class="navbar">
            <ul class="navbar__list">
                <li><a href="https://argyle.design/typeface/">Introduction</a></li>
                <li><a href="https://argyle.design/logo/">Logotype</a></li>
                <li class="navbar__current"><a href="https://argyle.design/colors/">Colors</a></li>
                <li><a href="https://argyle.design/typeface/">Typeface</a></li>
            </Ul>
        </div>
        </article>

        <article class="component">
            <h3 class="component__name">Aside Nav Bar</h3>
            <img
            srcset="img/argyleStyleguideImages/aside/asidenav.png 2x"
            src="img/argyleStyleguideImages/aside/asidenav.png"
            alt="Aside Nav Bar">
        <div class="asidenavbar">
            <h2 class="asidenavbor__menutitle">Colors</h2>
            <ul class="asidenavbar__list">
                <li><a href="#!">Primary Pallete</a></li>
                <li><a href="#!">Secondary colors</a></li>
                <li><a href="#!">Usage balance</a></li>
                <li><a href="#!">Shades and blend modes</a></li>
                <li><a href="#!">Recommended use</a></li>
            </Ul>
        </div>
        </article>

        <h2 id="cover-section">Cover Section</h2>
        <article class="component">
            <h3 class="component__name">Cover Title</h3>
            <img 
            srcset="img/argyleStyleguideImages/cover/cover__title.png 2x"
            src="img/argyleStyleguideImages/cover/cover__title.png"
            alt="Cover Title">
        <div class="component">
            <h2 class="cover__title">Colors</h2>
        </div>
        </article>

        <article class="component">
            <h3 class="component__name">Cover Headline</h3>
            <img 
            srcset="../components/img/argyleStyleguideImages/cover/cover__headline@2x.png 2x"
            src="../components/img/argyleStyleguideImages/cover/cover__headline@2x.png" alt="covercontent">
        <div class="component_code">
            <p class="cover__headline">The brand colors make our company representation interesting, vivid, and unique.</p>
        </div>
        </article>

        <article class="component">
            <h3 class="component__name">Cover Image</h3>
            <img 
            srcset="../components/img/argyleStyleguideImages/cover/cover__image.png 2x"
          src="../components/img/argyleStyleguideImages/cover/cover__image.png"
          alt="Cover Image">
        <div class="component_code">
            <img class="cover__image"
            srcset="../components/img/argyleStyleguideImages/cover/cover__image.png 2x"
          src="../components/img/argyleStyleguideImages/cover/cover__image.png"
          alt="Cover Image">
        </div>
        </article>
        
        <h2 id="section-one">Section One</h2>
        <article class="component">
            <div class="sectionone">
            <img class="sectionone__image"
            src="../components/img/argyleStyleguideImages/Sectionone/sectionone__title@2x.png"
            alt="sectio one image">
            </div>
        <div class="component">
            <h2 class="section__title">Primary pallette</h2>
        </div>
        </article>

        <article class="component">
            <div class="sectionone">
            <img class="sectionone__image"
            src="../components/img/argyleStyleguideImages/Sectionone/sectionone__heading.png" alt="covercontent">
            </div>
        <div class="component_code">
            <p class="section__headline">The primary colors are Argyle Blue, black, and white.
            </p>
        </div>
        </article>

<article class="component">
            <h3 class="component__name">Primary color card</h3>
            <img 
            srcset="../components/img/argyleStyleguideImages/Sectionone/sectionone__card@2x.png 2x"
            src="../components/img/argyleStyleguideImages/Sectionone/sectionone__card@2x.png"
            alt="section one card">

    <div class="colorcardcontainer">
            <div class="primarycolorcard">
                <h2 class="primarycolorcard__title">Argyle blue</h2>
                    <div class="primarycolorcard__rgb"><span                    class="primarycolorcard__rgb--title">RGB</span><span class="primarycolorcard__rgb--numbers">105  75  165</span>
                    </div>
                <div class="primarycolorcard__hex"><span class="primarycolorcard__hex--title">HEX</span><span class="primarycolorcard__hex--numbers">694BA5</span>
                </div>
            </div>

            <div class="component">
                <div class="primarycolorcard__black">
                    <h2 class="primarycolorcard__title">Pure Black</h2>
                    <div class="primarycolorcard__rgb"><span class="primarycolorcard__rgb--title">RGB</span><span class="primarycolorcard__rgb--numbers">0  0  0</span>
                    </div>
                    <div class="primarycolorcard__hex"><span class="primarycolorcard__hex--title">HEX</span><span class="primarycolorcard__hex--numbers">000000</span>
                    </div>
                </div>
            </div>

            <div class="component">
                <div class="primarycolorcard__white">
                <h2 class="primarycolorcard__title--white">Pure White</h2>
                <div class="primarycolorcard__rgb"><span class="primarycolorcard__rgb--titlewhite">RGB</span><span class="primarycolorcard__rgb--numberswhite">0  0  0</span>
                </div>
                <div class="primarycolorcard__hexwhite"><span class="primarycolorcard__hex--titlewhite">HEX</span><span class="primarycolorcard__hex--numberswhite">000000</span>
                </div>
            </div>
            </div>
    </div> <!--colorcardcontainer-->
</article>

        <article class="component">
            <div class="sectionone">
            <img 
            class="sectionone__image"
            src="../components/img/argyleStyleguideImages/Sectionone/sectionone__content.png" alt="covercontent">
            </div>
        <div class="component_code">
            <p class="section__headline">When printing, consult your printing service provider for the best possible match. For black and white, consider the maximum achievable color purity and contrast.
            </p>
        </div>
        </article>

        <h2 id="section-two">Section two</h2>
        <h3 class="component__name">Secondary Color Title</h3>
        <article class="component">
            <img 
            srcset="img/argyleStyleguideImages/Sectiontwo/section__title.png"
            src="img/argyleStyleguideImages/Sectiontwo/section__title.png"
            alt="section two title">
        <div class="component">
            <h2 class="section__title">Secondary colors</h2>
        </div>
        </article>

        <article class="component">
            <h3 class="component__name">Secondary Headline</h3>
            <div class="sectionone">
            <img class="sectionone__image"
            src="../components/img/argyleStyleguideImages/Sectiontwo/section__heading.png" alt="covercontent">
            </div>
        <div class="component_code">
            <p class="section__headline">Secondary colors bring contrast and difference to our primary palette. They are used to highlight small but important items in the UI or make our marketing materials pop. </p>
        </div>
        </article>

        <article class="component">
            <h3 class="component__name">Secondary color card</h3>
            <div class="sectionone">
            <img class="sectionone__image"
            srcset="img/argyleStyleguideImages/Sectiontwo/sectiontwocard.png"
            src="img/argyleStyleguideImages/Sectiontwo/sectiontwocard.png"
            alt="section two color card">
            </div>
        
    <div class="secondarycolorcard__grid">
        <div class="colorcard">
            <h2 class="colorcard__title">Purple</h2>
            <span class="colorcard__dot"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">105  75  165</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">694BA5</span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Cyan</h2>
            <span class="colorcard__dot--cyan"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">78  164  208</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">4EA4D0</span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Orange</h2>
            <span class="colorcard__dot--orange"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">236  111  24</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">EC6F18</span></div>
        </div>
            
        <div class="colorcard">
            <h2 class="colorcard__title">Green</h2>
            <span class="colorcard__dot--green"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">64  172  116</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">40AC74</span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Olive</h2>
            <span class="colorcard__dot--olive"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">132  164  32</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">84A420</span></div>
        </div>
            
        <div class="colorcard">
            <h2 class="colorcard__title">Light Purple</h2>
            <span class="colorcard__dot--lightpurple"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">183  156  239</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">B79CEF</span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Light Blue</h2>
            <span class="colorcard__dot--lightblue"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">186  230  240</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">BAE6F0</span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Light Orange</h2>
            <span class="colorcard__dot--lightorange"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">254  216  138</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">FED88A</span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Light Green</h2>
            <span class="colorcard__dot--lightgreen"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">182  230  184</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">B6E6B8
            </span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Light Olive</h2>
            <span class="colorcard__dot--lightolive"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">223 231 141</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">DFE795</span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Light Bluish dark grey</h2>
            <span class="colorcard__dot--bdg"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">76 79 86</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">DFE795</span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Bluish grey</h2>
            <span class="colorcard__dot--bluishgrey"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">196 210 220</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">C4D2DC</span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Light grey</h2>
            <span class="colorcard__dot--lightgrey"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">217 217 217</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">D9D9D9</span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Bluish light grey</h2>
            <span class="colorcard__dot--blg"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">239 241 245</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">EFF1F5</span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Extra light grey</h2>
            <span class="colorcard__dot--elg"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">244 244 244</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">F4F4F4</span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Red</h2>
            <span class="colorcard__dot--red"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">231 40 66</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">E72842</span></div>
        </div>

        <div class="colorcard">
            <h2 class="colorcard__title">Light red</h2>
            <span class="colorcard__dot--lightred"></span>
            <div class="colorcard__rgb"><span class="colorcard__rgb--title">RGB</span><span class="colorcard__rgb--numbers">254 164 138</span></div>
            <div class="colorcard__hex"><span class="colorcard__hex--title">HEX</span><span class="colorcard__hex--numbers">FEA48A</span></div>
        </div>

    </div>
     
        </article>

        <h2 id="section-three">Section Three</h2>
        <article class="component">
            <div class="sectionone">
            <img class="sectionone__image"
            src="../components/img/argyleStyleguideImages/Sectionthree/section__title.png"
            alt="section three title">
        </div>
        <div class="component">
            <h2 class="section__title">Usage balance</h2>
        </div>
        </article>
        <article class="component">
            <div class="sectionone">
            <img 
            class="sectionone__image"
            src="../components/img/argyleStyleguideImages/Sectionthree/section__heading.png" alt="section three heading">
            </div>
        <div class="component_code">
            <p class="section__headline">Argyle’s materials should give an overall impression of consistent use of color. The following examples give a general idea of the appropriate color balance:
            </p>
        </div>
        </article>

        <div class="usagebalance__container">
            <div class="usagebalance__content">
                <h4>Content</h4>
                <p class="section__headline">White and light backgrounds should be the basis, while Argyle Blue serves as a logical and functional accent (links, buttons, key text).</p>
                <p class="section__headline">Typesetting should give the impression of a uniform texture with some pure black accents (headings).</p>
                <p class="section__headline">The secondary set of colors provides additional nuances, for example, with iconography or tags.</p>
            </div>
            <div class="sectionthree">
            <img class="sectionthree__image" src="../components/img/argyleStyleguideImages/Sectionthree/sectionthreecard__image.png"
            alt="second three card image">
            </div>
        </div>

        <div class="usagebalance__container">
            <div class="usagebalance__content">
                <h4>Imagery</h4>
                <p class="section__headline">Illustrative materials (cover images, promo, social networks images, internal use) can be more expressive, depending on the purpose and context. More active use of complementary colors is allowed.</p>
            </div>
            <div class="sectionthree">
            <img class="sectionthree__image" src="../components/img/argyleStyleguideImages/Sectionthree/sectionthreecard__image.png"
            alt="section three card image">
            </div>
        </div>

        <h2 id="section-four">Section four</h2>
        <h3 class="component__name">Shades and blend modes Title</h3>
        <article class="component">
            <img 
            src="../components/img/argyleStyleguideImages/Sectionfour/section__title.png"
            alt="section four title">
        <div class="component">
            <h2 class="section__title">Shade and blend modes</h2>
        </div>
        </article>

        <article class="component">
            <h3 class="component__name">Secondary Headline</h3>
            <div class="sectionone">
            <img class="sectionone__image"
            src="../components/img/argyleStyleguideImages/Sectionfour/section__content.png" alt="section four content">
            <img class="sectionone__image"
            src="../components/img/argyleStyleguideImages/Sectionfour/shade__content.png"
            alt="section four content">
            <img class="sectionone__image"
            src="../components/img/argyleStyleguideImages/Sectionfour/shade__content2.png"
            alt="section four content">
            </div>
          
        <div class="component_code">
            <p class="section__headline">We use shades of gray to give a lightweight and airy feeling to our mockups. Sticking to just a couple of variations of gray in a single mockup adds a layer of depth without introducing too many elements. For example: </p>
            <p class="section__headline">We use blend modes with <span class="blue"> Argyle blue &#x25cf; </span> and <span class="lightpurple"> light purple &#x25cf; </span> to form unique overlapping effects in iconography. Blend modes for both colors are set in Multiply mode:</p>
            <p class="section__headline">While effective and striking, this effect can become overwhelming when used incorrectly. We recommend using it in moderation, to accentuate important elements in small sizes. </p>
        </div>
        </article>

        <article>
        <h3 class="component__name">Shade and blend examples</h3>
        <div class="sectionone">
        <img class="sectionone__image"
        src="../components/img/argyleStyleguideImages/Sectionfour/shade__size—shade.png" alt="shade and size image">
        </div>

            <div class="sectionfourflex">
                <div class="sectionfour100">
                    <p class="sectionfour__100">100%</p>
                    <p class="sectionfourflex__headline">Headings, links</p>
                </div> 
                <div class="sectionfour80">
                    <p class="sectionfour__80">80%</p>
                    <p class="sectionfourflex__headline">General typesetting</p>
                </div>
                <div class="sectionfour40">
                    <p class="sectionfour__40">40%</p>
                    <p class="sectionfourflex__headline">Captions, secondary info</p>
                </div>
            </div>
        </article>

        <article>
            <h3 class="component__name">Shade and blend examples</h3>
            <div class="sectionone">
            <img class="sectionone__image"
            src="../components/img/argyleStyleguideImages/Sectionfour/shade__ruler.png"
            alt="shade ruler">
            </div>
    
                <div class="sectionfourruler">
                    <div class="ruler">
                        <p class="ruler__headline16">Ruler in 16% black</p>
                        <p class="ruler__headline8">Ruler in 8% black</p>
                    </div>
                </div>
        </article>

        <h2 id="section-five">Section five</h2>
        <h3 class="component__name">Recommended Use Title</h3>
        <article class="component">
            <img 
            src="../components/img/argyleStyleguideImages/Sectionfive/section__title.png"
            alt="section five title">
        <div class="component">
            <h2 class="section__title">Recommended use</h2>
        </div>
        </article>

        <article class="component">
            <h3 class="component__name">Secondary Headline</h3>
            <div class="sectionone">
            <img class="sectionone__image"
            src="../components/img/argyleStyleguideImages/Sectionfive/section__heading.png" alt="content image">
            <img class="sectionone__image"
            src="../components/img/argyleStyleguideImages/Sectionfive/section__content.png" alt="content image">
            </div>
          
        <div class="component_code">
            <p class="section__headline">The primary palette combined with the secondary color set are powerful and functional elements of the Argyle style. See examples below: </p>
            <p class="section__headline">When in doubt about color choice, stick to the main palette with a moderate use of Argyle Blue. Neatness and modesty are always appropriate.</p>
        </div>
        </article>

        <article>
        <div class="ru__container">
            <div class="ru__smallimage">
                <img class="image1" src="../components/img/argyleStyleguideImages/Sectionfive/sectionfive__imagesmall1.png" alt="small image 1">
                <img class="image2" src="../components/img/argyleStyleguideImages/Sectionfive/sectionfive__imagesmall2.png" alt="small image 2">
            </div>
            <div class="ru__largeimage">
                <img class="largeimage1" src="../components/img/argyleStyleguideImages/Sectionfive/sectionfive__imageslarge1.png" alt="large image 1">
            </div>

            <div class="ru__smallimage">
                <img class="image1" src="../components/img/argyleStyleguideImages/Sectionfive/sectionfive__imagesmall3.png" alt="small image 3">
                <img class="image2" src="../components/img/argyleStyleguideImages/Sectionfive/sectionfive__imagesmall4.png" alt="small image 4">
            </div>
            <div class="ru__largeimage">
                <img class="largeimage1" src="../components/img/argyleStyleguideImages/Sectionfive/sectionfive__imageslarge2.png" alt="large image 2">
            </div>
            <div class="ru__largeimage">
                <img class="largeimage1" src="../components/img/argyleStyleguideImages/Sectionfive/sectionfive__imageslarge3.png" 
                alt="large image 3">
            </div>
        </div>
        </article>
    </div>
    
    <footer id="footer" class="footercolor">
        <div class="footercontainer">
            <img class="footer__image1" src="../components/img/argyleStyleguideImages/footer/footer.png" alt="footer image">
        </div>
    </footer>
    <footer class="footercolor">
        <div class="footercontainer">
            <img class="footer__image" src="../components/img/argyleStyleguideImages/footer/footer__image.png" 
            alt="footer image">
            <div class="footer__content">
                <h2 class="section__title1">Up next: Typeface</h2>
                <p class="section__headline">When in doubt about color choice, stick to the main palette with a moderate use of Argyle Blue. Neatness and modesty are always appropriate.</p>
                <p> <span class="footer__button">
                    Proceed
                </span></p>
            </div>
        
        </div>
        
    </footer>
    </body>
</html>